<footer class="bg-primary mt-5">
  <div class="container d-flex justify-content-between color-me">
    <div class="copyright d-flex align-self-center">
      &copy; copyright Sche App by Rizki Ashari
    </div>
    <div >
      <a class="nav-me d-flex align-self-center" href="https://github.com/rizkiashari">Github</a>
    </div>
  </div>
</footer>